#container {
    width: 50%;
    margin: 30px auto; /* centraliza o elemento na largura - automático à esquerda e direita */  
    border: 1px solid #000; /* red green blue - RGB */
    background-color:antiquewhite;
}

h1 #areaResposta #form{
    text-align: center;
}

#form{
    border: 1px solid #000;
    padding: 20px;
    margin: 20px;
}
div{
    margin-bottom: 10px;
}


ul{
    list-style: none;
}

li{
    margin-bottom: 20px;
}
a:link, a:visited{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: red;
}

a:active{
    text-decoration: none;
}

